<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>
        
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        
                    <%- include('_post') -%>
                        
                    <%} %>
                </ul>
            </div>
        </section>
        
        
  <% if(locals.user) { %>
    <div class="friends-list">
      <div class="header">Friends</div>
      <% if(locals.user.friendships.length == 0) {%>
      <div class="no-friends">No friends found!</div>
      <% }else{ %> <% for(friendships of locals.user.friendships){ %> <%
      if(friendships.from_user.id == locals.user.id) {%>
      <div>
        <a class="friends-item" href="/users/profile?id=<%=friendships.to_user._id%>">
          <div class="friends-img">
            <% if(friendships.to_user.avtar == undefined){ %>
              <img
              class="rounded-circle" id="user-dp"
              src="https://image.flaticon.com/icons/svg/2154/2154651.svg"
              alt="logo"
            />
              <% }else{%>
                <img
                class="rounded-circle" id="user-dp"
                src="<%= locals.user.avtar %>"
                alt="logo"
              />
              <% } %>
          </div>
          <div class="friends-name"><%= friendships.to_user.name %></div>
        </a>
      </div>
      <%}%> <% if(friendships.to_user.id == locals.user.id) {%>
      <div>
        <a class="friends-item" href="/users/profile?id=<%=friendships.from_user._id%>">
          <div class="friends-img">
            <% if(friendships.from_user.avtar == undefined){ %>
              <img
              class="rounded-circle" id="user-dp"
              src="https://image.flaticon.com/icons/svg/2154/2154651.svg"
              alt="logo"
            />
              <% }else{%>
                <img
                class="rounded-circle" id="user-dp"
                src="<%= locals.user.avtar %>"
                alt="logo"
              />
              <% } %>
          </div>
          <div class="friends-name"><%= friendships.from_user.name %></div>
        </a>
      </div>
      <% } %> <% } %> <% } %>
    </div>
    <% } %> 
  </div>
  
        
        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <% } %>
        </section>
</div>


<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

