<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">

        <img src="<%= user.avatar%>" alt=" <%=user.name %>" width="100"> 

        <% if(user.id == profile_user.id){ %>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

                <input type="file" name="avatar" placeholder="Profile Picture">

                <input type="submit"  value="Update">
            </form>
            
         
 <%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
    
    <div class="btn-grp">
        <% let isFriend = false %>
        <% for(let friendships of locals.populated_user.friendships){ %>
            
            <% if(friendships.to_user == profile_user.id || friendships.from_user == profile_user.id){ %>
                <% isFriend = true %>
            <% } %>
            <% } %>
                
            <% if(isFriend){%>
                <button>
                    <a class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
                        Remove Friend
                    </a>
                </button>
            <% }else{%>
                <button>
                    <a class="toggle-friend-btn" href="/friends/add-friend/?id=<%= profile_user.id %>">
                        Add Friend
                    </a>
                </button>
            <% } %>          
        </div>

    <%} %>

    <script src="js/toggle_friend.js"></script>